<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}" itemscope itemtype="http://schema.org/WebPage">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    {{- block "title" . -}}
      {{ if .IsPage }}{{ .Title }} - {{ .Site.Title }}{{ else }}{{ .Site.Title }}{{ end }}
    {{- end -}}
  </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap-grid.min.css" integrity="sha512-Aa+z1qgIG+Hv4H2W3EMl3btnnwTQRA47ZiSecYSkWavHUkBF2aPOIIvlvjLCsjapW1IfsGrEO3FU693ReouVTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  {{ partial "head.html" . }}
</head>
<body>
  {{ partial "slideout.html" . }}

  {{ if or .Site.Params.photoswipe .Site.Params.fancybox }}
    {{ partial "photoswipe.html" . }}
  {{ end }}

  {{ if .Site.Params.search.google.enable }}
    {{ partial "search_google.html" . }}
  {{ end }}

  {{ if .Site.Params.forkMeOnGithub }}
    <style>
      .fork-me-on-github {
        position: absolute; top: 0; left: 0; border: 0;
      }
      @media (max-width: 1080px) {
        .fork-me-on-github {
          display: none;
        }
      }
    </style>

    <a href="{{ .Site.Params.forkMeOnGithub }}">
      <img class="fork-me-on-github"
        src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png"
        alt="Fork me on GitHub">
    </a>
  {{ end }}

  <header id="header" class="header container">
    {{ partial "header.html" . }}
  </header>
  <div>
  
</div>

  <div id="mobile-panel">
    <main id="main" class="main bg-llight">
      <div class="content-wrapper post">
        
        <div id="content" class="content container post-content meet">
        	{{ .Content }}
        	<div class="row text-center">
			    <div class="col-md-2 col-2">
			      时间
			    </div>
			    <div class="col-md-3 col-3 text-center">
			      时限 <br>(分钟)
			    </div>
			    <div class="col-md-4 col-4">
			      流程
			    </div>
			    <div class="col-md-3 col-3">
			      职务员 <br>作业员 
			    </div>
			  </div>
			  <hr>
          	<div class="row text-center">
          		{{ range .Params.tab }}
		            <div class="col-md-2 col-2">
		              {{ .time }}
		          </div>
		              {{if eq .l 1}}
		              	
		              	{{ range $index, $element := .limit }}
		              		
		              				
	      					<div class="col-md-1 col-1 "><div class="bg-{{ $index }}">{{ $element.l }}</div></div>
		              				
		              	{{ end }}
		              	
	              	{{ else }}
		              <div class="col-md-3 col-3 ">{{ .limit }}</div>
		              {{ end }}
		              <div class="col-md-4 col-4">{{ .flow | safeHTML }}</div>
		              <div class="col-md-3 col-3">{{ .duty }}</div>
		            <hr>
		          
		        {{ end }}
          	</div>
          
          
          {{ block "content" . }}{{ end }}
          
        </div>
      </div>
    </main>

    <footer id="footer" class="footer">
      {{ partial "footer.html" . }}
    </footer>

    <div class="back-to-top" id="back-to-top">
      <i class="iconfont">
        {{/* icon up */}}
        {{ partial "svg/up.svg" }}
      </i>
    </div>
  </div>
  
</body>
</html>
