<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}" itemscope itemtype="http://schema.org/WebPage">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    {{- block "title" . -}}
      {{ if .IsPage }}{{ .Title }} - {{ .Site.Title }}{{ else }}{{ .Site.Title }}{{ end }}
    {{- end -}}
  </title>
  {{ partial "head.html" . }}
</head>
<body>
  {{ partial "slideout.html" . }}

  {{ if or .Site.Params.photoswipe .Site.Params.fancybox }}
    {{ partial "photoswipe.html" . }}
  {{ end }}

  {{ if .Site.Params.search.google.enable }}
    {{ partial "search_google.html" . }}
  {{ end }}

  {{ if .Site.Params.forkMeOnGithub }}
    <style>
      .fork-me-on-github {
        position: absolute; top: 0; left: 0; border: 0;
      }
      @media (max-width: 1080px) {
        .fork-me-on-github {
          display: none;
        }
      }
    </style>

    <a href="{{ .Site.Params.forkMeOnGithub }}">
      <img class="fork-me-on-github"
        src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png"
        alt="Fork me on GitHub">
    </a>
  {{ end }}

  <header id="header" class="header container">
    {{ partial "header.html" . }}
  </header>
  <div>
  <canvas id="myChart"></canvas>
</div>

  <div id="mobile-panel">
    <main id="main" class="main bg-llight">
      <div class="content-wrapper">
        <div id="content" class="content container">
        	<h2>奖项</h2>
        	<ol>
        		{{ range .Params.ppp }}
        		<li>{{ .name }} - 🏆{{ .list }}</li>
				{{ end }}
        	</ol>
        	<h2>新分数</h2>
        	 <u>1-7-2023 开始采用</u>
					<table>
						<tr>
							<th>活动</th>
							<th>分数</th>
						</tr>
				{{ range .Params.xyz }}
	        	<tr>
	        		<td>{{ .name }}</td>
	        		<td>+{{ .title }}</td>
	        	</tr>
          

	            {{ end }}
	            </table>
	            <table>
	            	<h2>旧分数</h2>
	            	 <u>已停用，只供参考</u>
				<tr>
							<th>活动</th>
							<th>分数</th>
						</tr>
	        	{{ range .Params.abc }}
	        	<tr>
	        		<td>{{ .name }}</td>
	        		<td>+{{ .title }}</td>
	        	</tr>
          
	            {{ end }}
          </table>
          <hr>
          			{{ $url :=  "https://pccc.kikia.co/tmc/get.php" }}
          			{{ $getppp :=  printf "%s?begin=%s?end=%s" $url .Params.begin .Params.end }}
					{{ $users := getJSON $getppp }}
					{{ range $users}}
						<div class="card">
							<div class="card-header">
								<b>{{ .name }}</b> - 共{{.point}}分
							</div>
							<div class="card-body">
								<ul>
									{{$date := (split .date "," )}}

									{{ range $index, $element := (split .desc "," )}}
									<li>{{add $index 1 }} - {{ index $date $index }} | {{$element}} </li>
									{{ end }}
								</ul>
							</div>
						</div>
						<hr>
					{{ end }}
          {{ block "content" . }}{{ end }}
          
        </div>
      </div>
    </main>

    <footer id="footer" class="footer">
      {{ partial "footer.html" . }}
    </footer>

    <div class="back-to-top" id="back-to-top">
      <i class="iconfont">
        {{/* icon up */}}
        {{ partial "svg/up.svg" }}
      </i>
    </div>
  </div>
  {{ partial "scripts.html" . }}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
  {{ partial "kpi_scripts.html" (dict "context" . "users" $users)  }}
</body>
</html>
