<script>
	function random_rgba() {
	    var o = Math.round, r = Math.random, s = 255;
	    return 'rgba(' + o(r()*s) + ',' + o(r()*s) + ',' + o(r()*s) + ',' + r().toFixed(1) + ')';
	}
  const labels = [];
  const points = [];
  const color = [];
  const bg = [];
 
  {{ range .users}}
	  var rgb = [];
	  for(var i = 0; i < 3; i++)
	    rgb.push(Math.floor(Math.random() * 255));
	  labels.push({{ .name }});
	  points.push({{ .point }});
	  color.push('rgb('+ rgb.join(',') +',0.4)');
	  bg.push('rgb('+ rgb.join(',') +')');
	  // bg.push({label: labels, backgroundColor: 'rgb('+ rgb.join(',') +',0.4)', borderColor: 'rgb('+ rgb.join(',') +')', data: {{ .point }} });
  {{end}}

  const data = {
    labels: labels,
    datasets: [{
      label: '总分',
      backgroundColor: color,
      borderColor: bg,
      data: points,
    }]
  };

  const config = {
    type: 'bar',
    data: data,
    options: {
    	indexAxis: 'y',
    scales: {
      y: {
        beginAtZero: true
      }
    }
  },
  };
</script>
<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>
 